/**
 * This injects Tailwind's base styles, which is a combination of
 * Normalize.css and some additional base styles.
 *
 * You can see the styles here:
 * https://unpkg.com/tailwindcss/dist/base.css
 */
@tailwind base;

/**
 * Remove the default box-shadow for invalid elements to prevent
 * inputs in Livewire components showing with a
 * red border by default in Firefox.
 *
 * See: https://github.com/laravel-frontend-presets/tall/issues/7
 */
input:invalid,
textarea:invalid,
select:invalid {
    box-shadow: none;
}

/**
 * This injects any component classes registered by plugins.
 */
@tailwind components;

/**
 * Here you would add any of your custom component classes; stuff that you'd
 * want loaded *before* the utilities so that the utilities could still
 * override them.
 *
 * Example:
 *
 * .btn { ... }
 * .form-input { ... }
 */

/**
 * This injects all of Tailwind's utility classes, generated based on your
 * config file.
 */
@tailwind utilities;

/**
 * Here you would add any custom utilities you need that don't come out of the
 * box with Tailwind.
 *
 * Example :
 *
 * .bg-pattern-graph-paper { ... }
 * .skew-45 { ... }
 */

[x-cloak] {
    display: none !important;
}

/*!
 * Load Awesome v1.1.0 (http://github.danielcardoso.net/load-awesome/)
 * Copyright 2015 Daniel Cardoso <@DanielCardoso>
 * Licensed under MIT
 */
.la-ball-scale-ripple,
.la-ball-scale-ripple > div {
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.la-ball-scale-ripple {
    display: block;
    font-size: 0;
    color: #fff;
}
.la-ball-scale-ripple.la-dark {
    color: #333;
}
.la-ball-scale-ripple > div {
    display: inline-block;
    float: none;
    background-color: currentColor;
    border: 0 solid currentColor;
}
.la-ball-scale-ripple {
    width: 32px;
    height: 32px;
}
.la-ball-scale-ripple > div {
    width: 32px;
    height: 32px;
    background: transparent;
    border-width: 2px;
    border-radius: 100%;
    opacity: 0;
    -webkit-animation: ball-scale-ripple 1s 0s infinite
        cubic-bezier(0.21, 0.53, 0.56, 0.8);
    -moz-animation: ball-scale-ripple 1s 0s infinite
        cubic-bezier(0.21, 0.53, 0.56, 0.8);
    -o-animation: ball-scale-ripple 1s 0s infinite
        cubic-bezier(0.21, 0.53, 0.56, 0.8);
    animation: ball-scale-ripple 1s 0s infinite
        cubic-bezier(0.21, 0.53, 0.56, 0.8);
}
.la-ball-scale-ripple.la-sm {
    width: 16px;
    height: 16px;
}
.la-ball-scale-ripple.la-sm > div {
    width: 16px;
    height: 16px;
    border-width: 1px;
}
.la-ball-scale-ripple.la-2x {
    width: 64px;
    height: 64px;
}
.la-ball-scale-ripple.la-2x > div {
    width: 64px;
    height: 64px;
    border-width: 4px;
}
.la-ball-scale-ripple.la-3x {
    width: 96px;
    height: 96px;
}
.la-ball-scale-ripple.la-3x > div {
    width: 96px;
    height: 96px;
    border-width: 6px;
}
/*
 * Animation
 */
@-webkit-keyframes ball-scale-ripple {
    0% {
        opacity: 1;
        -webkit-transform: scale(0.1);
        transform: scale(0.1);
    }
    70% {
        opacity: 0.65;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    100% {
        opacity: 0;
    }
}
@-moz-keyframes ball-scale-ripple {
    0% {
        opacity: 1;
        -moz-transform: scale(0.1);
        transform: scale(0.1);
    }
    70% {
        opacity: 0.65;
        -moz-transform: scale(1);
        transform: scale(1);
    }
    100% {
        opacity: 0;
    }
}
@-o-keyframes ball-scale-ripple {
    0% {
        opacity: 1;
        -o-transform: scale(0.1);
        transform: scale(0.1);
    }
    70% {
        opacity: 0.65;
        -o-transform: scale(1);
        transform: scale(1);
    }
    100% {
        opacity: 0;
    }
}
@keyframes ball-scale-ripple {
    0% {
        opacity: 1;
        -webkit-transform: scale(0.1);
        -moz-transform: scale(0.1);
        -o-transform: scale(0.1);
        transform: scale(0.1);
    }
    70% {
        opacity: 0.65;
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1);
    }
    100% {
        opacity: 0;
    }
}
